@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background: white;
    --primary: #5301DE;
    --text-primary: #181818;
}
html.dark{
    background-color: var(--background);
}
html.dark:root{
    --background: #181818;
    --primary: #5301DE;
    --text-primary: white;
}

@layer base {
    @font-face {
        font-family: 'Inter';
        font-weight: 100 900;
        src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    }
}
*{
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
}