@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        font-weight: 100 900;
        src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    }
}

:root {
    --background: white;
    --primary: #5301DE;
    --text-primary: #181818;
    --card-skills-bg: #181818;
}

html.dark:root {
    --background: #181818;
    --primary: #5301DE;
    --text-primary: white;
    --card-skills-bg: white;

}

.white-theme {
    --background: #181818;
    --primary: #5301DE;
    --text-primary: white;
    --card-skills-bg: white;
}

.dark-theme {
    --background: #181818;
    --primary: #5301DE;
    --text-primary: white;
    --card-skills-bg: white;

}


* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    box-sizing: border-box;
    text-decoration: none;

}

div,
section,
header,
main,
footer {
    display: flex;
}

html.dark {
    background-color: var(--background);
}


.point {
    display: flex;
    aspect-ratio: 1/1;
    background-color: var(--text-primary);
    width: 8px;
    border-radius: 100%;
    height: min-content;
}

.card-skill {
    background-color: var(--card-skills-bg);
    border-radius: 20px;
    padding: 8px;
    aspect-ratio: 1;
}
.card-skill img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.marker-list li{
    display: flex;
}
.marker-list li::before{
    margin: 8px 16px 0 0;
    content: '';
    display: flex;
    aspect-ratio: 1/1;
    background-color: var(--text-primary);
    min-width: 8px;
    border-radius: 100%;
    height: min-content;
}